:root {
  --el-color-primary: #ffad00;
  --el-color-primary-light-3: #e8cc92;
  --el-color-primary-light-7: #e8d09f;
  --el-color-primary-light-9: #f5e8cf;
  --el-bg-color: #ececec;
  --el-text-color-secondary: #525252;
}
