@import 'element';
@import 'base.scss';
@import "user";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--el-color-primary)
}

table {
  th {
    .cell {
      font-weight: 500;
    }
  }
}
