@import 'element';
@import 'base.scss';
@import "user";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--el-color-primary)
}

table {
  th {
    .cell {
      font-weight: 500;
    }
  }
}

.el-popconfirm__main {
  word-break: normal;
  gap: 5px;
}

.dialog-scrollable {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  .el-dialog__body {
    backface-visibility: hidden;
    flex: 1 1 auto;
    overflow-y: auto;
  }
}